{% extends 'admin_base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Car</h4>
          <p class="card-description"> Update the car Information </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
              <div class="form-group">
            <label for="type">Car Type</label>
            <input class="form-control" name="type" id="type" value="{{ request.form['type'] or car['type'] }}" required>
              </div>
            <div class="form-group">
            <label for="brand">Car Brand</label>
            <input class="form-control" name="brand" id="brand" value="{{ request.form['brand'] or car['brand'] }}" required>
          </div>
            <div class="form-group">
            <label for="capacity">Number of Seats</label>
            <input class="form-control" name="capacity" id="capacity" value="{{ request.form['capacity'] or car['capacity'] }}" required>
          </div>
            <div class="form-group">
            <label for="price_per_day">Price Per Day</label>
            <input class="form-control" name="price_per_day" id="price_per_day" value="{{ request.form['price_per_day'] or car['price_per_day'] }}" required>
          </div>
            <div class="form-group">
            <label for="image">Car image</label> 
            <input class="form-control" type="file" name="image" id="image" value="{{ request.form['image'] or car['image'] }}">
          </div>
            <div class="form-group">
            <input class="btn btn-success" type="submit" value="Save">
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


